@font-face {
    font-family: Mazius;
    src: url(./Donaate-UI/MAZIUSREVIEW20.09-Italic.otf);
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Poppins;
}


.maincontainer {
    width: 100%;
    height: 700px;
    background-color: #C4F6CC;
}

.navcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 2rem 1rem;

}

.logocontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 'auto';
    padding: 10px;
}
.logocontainer img{
    opacity: 0.6;
}
.imgstyle {
    width: 150px;
    height: auto;
    filter: drop-shadow(0 0 0 #5F9E69);
}

.menucontainer {
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 30%;
    height: 'auto';
    /* background-color: #e0f6c4; */
}

.menucontainer ul li {
    float: left;
    margin-left: 50px;
    list-style: none;
    color: black;
    font-size: 1rem;
    font-weight:500;
}

a {
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.menucontainer li a:hover {
    color: #5F9E69;
}

/* second main div */
.contentcontainer {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
    /* background-color: #87e111; */
    margin-bottom: 100px;
}

.quotecontainer {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    padding: 10px;
}

.taglinecontainer {
    width: 85%;
    z-index: 1;
}
.taglinecontainer--invcomma{
    position: absolute;
    z-index: -1;
}
.taglinecontainer--invcomma img{
    width: 2.5rem;
}
.taglinecontainer--desc{
    font-size: 2rem;
    color: #07360F;
    font-weight: 600;
    margin: 1rem 2rem;
    line-height: 50px;
}
.btnandnamemain{
    display: flex;
    width:82%;
    /* background: blueviolet; */
    align-items: center;
    justify-content: flex-start;
}
.btn-container{
    width: 42%;
}
.button{
    background-color: #055c14;
    border: none;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin-left: 100px; */
    cursor: pointer;
}
.button:hover{
    background-color: #5F9E69;
    font-weight: bold;
}

.poetname{
    font-style: italic;
    color:#414D42;
    display: flex;
    width:35%;
    height:200px;
    align-items: top;
    justify-content: right;
    border-top: 5px;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
}
.poetname>p{
    padding-top: 1rem;
    font-size: 1.5rem;
    font-family: Mazius;
}

.picturecontainer {
    display: flex;
    width: 60%;
    height: 120%;
    justify-content: left;
}

.picturestyle {
    width: 80%;
    height: 91%;
    /* margin-left: 200px; */
}
