@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,700&family=Poppins:wght@300;400;500;600&display=swap');


@font-face {
    font-family: Mazius;
    src: url(./Donaate-UI/MAZIUSREVIEW20.09-Italic.otf);
}




* {
    padding: 0;
    margin: 0;
    /* text-decoration: none; */
    list-style: none;
    box-sizing: border-box;

}
body{
    overflow-y: scroll;
    overflow-x: hidden;
}


.mainContainer {
    width: 100%;
    height: 700px;
    background-color: #C4F6CC;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1px;
    justify-content: space-between;
    padding: 2rem 1rem;
    position: fixed;
    top: 0;
    background: #C4F6CC;
    opacity: 5;
    z-index: 2;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 'auto';
    padding: 10px;
}

.logoContainer img {
    opacity: 0.6;
    filter: invert(15%);
}

.imgStyle {
    width: 150px;
    height: auto;
    filter: drop-shadow(0 0 0 #5F9E69);
}

.menuContainer {
    margin-right: 9%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    height: 'auto';
    /* background-color: #e0f6c4; */
}

.menuContainer ul li {
    float: left;
    margin-left: 50px;
    list-style: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

.menuContainer a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 7px;
}

.menuContainer li a:hover {
    color: #5F9E69;
}

/* second main div */
.contentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
    /* background-color: #87e111; */
    margin-bottom: 100px;
}

.quoteContainer {
    width: 77%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

.tagLineContainer {
    font-family: 'Poppins', sans-serif;
    width: 85%;
    z-index: 1;
}

.tagLineContainer--invcomma {
    position: absolute;
    z-index: -1;
    display: block;
    margin-left: -12px;
}

.tagLineContainer--invcomma img {
    width: 2.5rem;
}

.tagLineContainer--desc {
    font-size: 2rem;
    color: #07360F;
    font-weight: 600;
    margin: 1rem 2rem;
    margin-top: 31px;
    line-height: 50px;
}

.btnAndNameMain {
    display: flex;
    width: 82%;
    align-items: center;
    justify-content: flex-start;
}

.btn-container {
    width: 42%;
}

.button {
    background-color: #197327;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #5F9E69;
    font-weight: bold;
}

.poetName {
    font-style: italic;
    color: #414D42;
    display: flex;
    width: 28%;
    height: 200px;
    margin-left: 61px;
    align-items: top;
    justify-content: right;
    border-top: 5px;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
}

.poetName>p {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-family: Mazius;
}

.pictureContainer {
    display: flex;
    width: 60%;
    height: 120%;
    justify-content: left;
}

.pictureStyle {
    width: 80%;
    height: 91%;
    /* margin-left: 200px; */
}





.secondmaincontainer {
    width: 100%;
    height: 1100px;
    background-color: #def8e3;
}

.fullaboutcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    /* background-color: #f4bf11;   */

}

.aboutheadcontainer {
    /* display: flex; 
    align-items: center;
    justify-content: center; */
    width: 50%;
    height: 200px;
    /* background-color: #87e111;  */
    margin-bottom: 40px;

}

.aboutcontentcontainer {
    /* display: flex; */
    width: 50%;
    height: 200px;
    /* background-color: #1d9e9c;  */
    /* margin-left: 100px;  */
    margin-bottom: 40px;
}

.headstyle {
    margin-top: 100px;
    margin-left: 100px;
    /* justify-content: center; */
    color: #07360F;
    /* text-shadow: 1px 0px #07360F; */
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    line-height: 69px;
    font-weight: 600px;


}

.contentstyle {
    margin-top: 150px;
    margin-right: 80px;
    justify-content: center;
    display: flex;
    color: #07360F;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 20px;

    ;
}

.imagecontainer {
    display: flex;
    justify-content: center;
    /* background-color: blueviolet;   */
    width: 100%;
    height: 500px;
}

.imagebox {
    background: rgba(0, 0, 0, 0.7) url(/Donaate-UI/Images/Childrens.png);
    background-blend-mode: darken;
    border-radius: 20pt;
    margin: 100px;
    border-style: solid;
    BACKGROUND-POSITION: center;
    BACKGROUND-SIZE: cover;
    width: 80%;
    height: 400px;

}

.firstlinestyle {
    color: white;
    text-align: center;
    margin-top: 110px;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600px;
}

.secondlinestyle {
    color: white;
    text-align: center;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400px;
}

.aboutlastcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    padding: 30px;
}

.firstinnercontainer, .secondinnercontainer {
    width: 50%;
    padding: 30px;
}

.innerstyle {
    margin: 30px;
    color: #07360F;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600px;
}

.sidestyle {
    color: #07360F;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400px;
}

.sidestyle li {
    list-style-type: none;
    margin: 20px auto;
}


@media (max-width: 992px) {
    .aboutlastcontainer {
        width: 100%;
        display: block;
        text-align: center;
    }
    .firstinnercontainer, .secondinnercontainer {
        width: 100%;
        padding: 20px;
    }
    .innerstyle {
        margin: 10px;
        margin-right: 10px;
    }
    .secondinnercontainer .sidestyle {
        padding: 0;
        margin: 0;
    }
}
.circle{
    display: flex;
    padding-right: 0px;
}
.circle-1{
    display: flex;
    padding-right: 55px;

}
.circle-2{
    display: flex;
    padding-left: 35px;
}
.ellipse{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1565px;
  left: 750px;

}
.ellipse-1{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 750px;
  top: 1622px;
}
.ellipse-2{
    position: absolute;
   width: 30px;
   height: 30px;
   left: 750px;
   top: 1685px;
}

.donate-container{
    background: #c4f6cc;
    padding: 40px 20px 0 20px;
    height: 100vh;
}

.arrowstyle1 {
    position: relative;
    left: -20px;    
}

.arrowstyle2 {
    position: absolute;
    right: 0;
}


.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text-container h1 {
    color: #07360F;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    line-height: 60px;
    padding: 10px 40px;
    border-bottom: 3px solid #07360F;
}

.text-container .brief {
    text-align: center;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.left-content, .right-content {
    width: 45%;
    padding: 0 20px;
}

@media (max-width: 992px) {
    .donate-container {
        height: 1000px;
    }
    .donate-container h1 {
        text-align: center;
        font-size: 35px;
    }
    .content {
        display: block;
    }
    .left-content, .right-content {
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 15px;
    }
}

.left-content h2, .right-content h2 {
    color: #07360F;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 20px;
    margin-bottom: 25px;
}

.left-content a, .right-content a {
    color: #0000ff;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 10px;
}

.left-content div, .right-content div {
    color: #0423098A;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin-top: 25px;
}

.contactcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    padding:'20px';
    height: 400px;
}

.container-fluid1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 3500px;
    background: #5F9E69;
}

.footer-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-buttons a{
    font-family: 'Poppins';
    font-size: 22px;
    color: #DEF8E2;
    text-decoration: none;
    margin-right: 20px;
}

.container-fluid2{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 3570px;
    text-align: center;
    background: #094513;
}

.container-fluid2 p{
    font-family: 'Poppins', sans-serif;
    color: #C5CFC7;
    padding: 10px;
}

@media (max-width: 992px) {
    .container-fluid1 {
        display: block;
        text-align: center;
        top: 4200px;
        padding: 50px;
    }
    .container-fluid2{
        top: 4350px;
    }
}

.contactmaincontainer{
    background-color: darkmagenta;
}
.greenbox {
    width:90%;
    height:auto;
    background-color:#C4F6CC;
    border-radius: 20pt;
}

.container1 {
    width: 100%;
    height: 100px;
    /* background-color: hotpink; */
    text-align: center;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 600px;
    line-height: 100px;
    color: #07360F;
    justify-content: center;
    align-items: top;
    display: flex;
    ;
}

.container2 {
    display: flex;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
    justify-content: space-between;
    /* background-color: black; */
}

.numberstyle {
    line-height: 40px;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600px;
    color: #5F9E69;
    ;
}

.subcontainer1 {
    width: 30%;
    height: auto;
    /* background-color: olivedrab; */
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500px;
    color: #042309;
    text-align: center;
    line-height: 60px;
}

.hrs {
    width: 60%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.emailstyle {
    line-height: 40px;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600px;
    color: #5F9E69;
}

.subcontainer2 {

    width: 30%;
    height: auto;
    /* background-color: darkcyan; */
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600px;
    color: #042309;
    text-align: center;
    line-height: 60px;

}

.hrs2 {
    width: 40%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.subcontainer3 {
    width: 30%;
    height: auto;
    /* background-color: red; */
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600px;
    color: #042309;
    text-align: center;
    line-height: 60px;

}

.hrs3 {
    width: 40%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.socialstyle {
    line-height: 40px;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600px;
    color: #5F9E69;

}


.faq{
    display:flex ;
        
}
.FAQ{
    position: absolute;
    width: 30%;
    font-size: 100%;
    margin-top: 100px;
    margin-left: 100px;
    
    font-family:'Poppins';

}
.question{
  margin-left: 60%;
  margin-top:30px;
  font-family: 'poppins',sans-serif;
  margin-right: 8%;
  width: 70%;
}
.paragraph{
margin-bottom: 20px;
width: 95%;
font-size: 15px;
margin-left: 40px;
display: none;
margin-right: 10px;

}
.question-1{
   display:flex;
   font-size: 15px;
   margin-bottom:20px;
   margin-top: 20px;
   margin-left: 40px;
   margin-right: 10px;
   
   
   
}
.question hr{
    width: 100%;

}



.question-2{
    font-size: 15px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    
}



.btn-1{

    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 40PX;
}
.btn-2{
     margin-left: 85px;
     background-color: transparent;
     border: none;
     cursor: pointer;
     font-size: 40px;

}
