@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,700&family=Poppins:wght@300;400;500;600&display=swap');


@font-face {
    font-family: Mazius;
    src: url(./Donaate-UI/MAZIUSREVIEW20.09-Italic.otf);
}




* {
    padding: 0;
    margin: 0;
    /* text-decoration: none; */
    list-style: none;
    box-sizing: border-box;

}
body{
    overflow-y: scroll;
    overflow-x: hidden;
}


.mainContainer {
    width: 100%;
    height: 700px;
    background-color: #C4F6CC;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 2rem 1rem;

}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 'auto';
    padding: 10px;
}

.logoContainer img {
    opacity: 0.6;
    filter: invert(15%);
}

.imgStyle {
    width: 150px;
    height: auto;
    filter: drop-shadow(0 0 0 #5F9E69);
}

.menuContainer {
    margin-right: 9%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    height: 'auto';
    /* background-color: #e0f6c4; */
}

.menuContainer ul li {
    float: left;
    margin-left: 50px;
    list-style: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

.menuContainer a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 7px;
}

.menuContainer li a:hover {
    color: #5F9E69;
}

/* second main div */
.contentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;
    /* background-color: #87e111; */
    margin-bottom: 100px;
}

.quoteContainer {
    width: 77%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

.tagLineContainer {
    font-family: 'Poppins', sans-serif;
    width: 85%;
    z-index: 1;
}

.tagLineContainer--invcomma {
    position: absolute;
    z-index: -1;
    display: block;
    margin-left: -12px;
}

.tagLineContainer--invcomma img {
    width: 2.5rem;
}

.tagLineContainer--desc {
    font-size: 2rem;
    color: #07360F;
    font-weight: 600;
    margin: 1rem 2rem;
    margin-top: 31px;
    line-height: 50px;
}

.btnAndNameMain {
    display: flex;
    width: 82%;
    align-items: center;
    justify-content: flex-start;
}

.btn-container {
    width: 42%;
}

.button {
    background-color: #197327;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #5F9E69;
    font-weight: bold;
}

.poetName {
    font-style: italic;
    color: #414D42;
    display: flex;
    width: 28%;
    height: 200px;
    margin-left: 61px;
    align-items: top;
    justify-content: right;
    border-top: 5px;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
}

.poetName>p {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-family: Mazius;
}

.pictureContainer {
    display: flex;
    width: 60%;
    height: 120%;
    justify-content: left;
}

.pictureStyle {
    width: 80%;
    height: 91%;
    /* margin-left: 200px; */
}





.secondmaincontainer {
    width: 100%;
    height: 1100px;
    background-color: #def8e3;
}

.fullaboutcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    /* background-color: #f4bf11;   */

}

.aboutheadcontainer {
    /* display: flex; 
    align-items: center;
    justify-content: center; */
    width: 50%;
    height: 200px;
    /* background-color: #87e111;  */
    margin-bottom: 40px;

}

.aboutcontentcontainer {
    /* display: flex; */
    width: 50%;
    height: 200px;
    /* background-color: #1d9e9c;  */
    /* margin-left: 100px;  */
    margin-bottom: 40px;
}

.headstyle {
    margin-top: 100px;
    margin-left: 100px;
    /* justify-content: center; */
    color: #07360F;
    /* text-shadow: 1px 0px #07360F; */
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    line-height: 69px;
    font-weight: 600px;


}

.contentstyle {
    margin-top: 150px;
    margin-right: 80px;
    justify-content: center;
    display: flex;
    color: #07360F;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 20px;

    ;
}

.imagecontainer {
    display: flex;
    justify-content: center;
    /* background-color: blueviolet;   */
    width: 100%;
    height: 500px;
}

.imagebox {
    background: rgba(0, 0, 0, 0.7) url(/Donaate-UI/Images/Childrens.png);
    background-blend-mode: darken;
    border-radius: 20pt;
    margin: 100px;
    border-style: solid;
    BACKGROUND-POSITION: center;
    BACKGROUND-SIZE: cover;
    width: 80%;
    height: 400px;

}

.firstlinestyle {
    color: white;
    text-align: center;
    margin-top: 110px;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600px;
}

.secondlinestyle {
    color: white;
    text-align: center;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400px;
}

.aboutlastcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    /* background-color: #f5f5e8;  */
    /* margin-bottom: 200px; */
}

.firstinnercontainer {
    width: 50%;
    height: 400px;
    /* background-color: antiquewhite;   */
    margin-top: 30px;
}

.secondinnercontainer {
    width: 50%;
    height: 400px;
    /* background-color: cadetblue;   */

}

.innerstyle {
    margin-top: 100px;
    margin-left: 130px;
    color: #07360F;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 50px;
    font-weight: 600px;
}

.sidestyle {
    padding: 10px;
    line-height: 40px;
    margin-top: 130px;
    color: #07360F !important;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 60px;
    font-weight: 400px;

}

.fourthcontainer {
    width: 100%;
    height: 650px;
    background-color: #C4F6CC;

}

.containerA {
    width: 100%;
    height: 300px;
    /* background-color: aqua;   */

}

.starstyle {
    /* display: flex; */
    /* justify-content: center;
    justify-items: center; */
    margin-left: 600px;
    margin-bottom: 20px;
    margin-top: 40px;

}

.donatestyle {
    color: #07360F;
    margin: 0px auto;
    width: 250px;
    border-radius: 0px, 0px, 1px, 0px;
    border-style: solid;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    text-align: center;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 60px;
    font-weight: 600px;

}

.linestyle {

    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300px;
    text-align: center;

}

.boldstyle {
    color: #042309;
    font-weight: bolder;
}

.containerB {
    width: 60%;
    height: 200px;
    background-color: #C4F6CC;
    /* margin-bottom: 70px; */

}

.Astyle {
    color: #07360F;
    margin-left: 200px;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500px;
}

.Bstyle {
    color: #175F23;
    margin-left: 100px;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 10px;
    font-weight: 600px;
}

.Cstyle {
    color: #0423098A;
    margin-left: 100px;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300px;
}

.arrowstyle {
    margin-bottom: 100px;
}

.containerC {
    /* display: flex; */
    width: 50%;
    height: 400px;
    /* background-color: coral; */
    /* margin-bottom: 100px; */
}

.Dstyle {
    color: #07360F;
    margin-top: 100px;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500px;

}

.Estyle {
    color: #175F23;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 10px;
    font-weight: 600px;
}

.Fstyle {
    color: #0423098A;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300px;
}

.arrowstylee {
    margin-left: 400px;
    margin-top: 30px;
}

.containerD {
    display: flex;
    align-items: center;
    /* justify-content: center;  */
    width: 100%;
    height: 300px;
    /* background-color: #d6d60b;  */
    margin-bottom: 200px;
}


.contactcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    padding:'20px';
    height: 400px;
}

.container-fluid1{
    position: absolute;
    width: 100%;
    height: 209px;
    left: 0px;
    top: 4964px;

    background: #5F9E69;
 }
.container-fluid1 .logocontainer{
    position: absolute;
    width: 217px;
    height: 69px;
    left: 104px;
    top: 43px;
    color: #DEF8E2;
    line-height: 69px;
}

.footer-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 87px;

    position: absolute;
    width: 100%;
    height: 36px;
    left: 478px;
    top: 64px;

}
.footer-buttons a{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 22px;
    line-height: 36px;
    color: #DEF8E2;
}
.container-fluid2{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 5123px;
    text-align: center;
    background: #094513;
}
.container-fluid2 p{
    position: relative;
    top: 15px;
    font-family: 'Poppins', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #C5CFC7;
}

.contactmaincontainer{
    background-color: darkmagenta;
}
.greenbox {
    width:90%;
    height:auto;
    background-color:#C4F6CC;
    border-radius: 20pt;
}

.container1 {
    width: 100%;
    height: 100px;
    /* background-color: hotpink; */
    text-align: center;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 600px;
    line-height: 100px;
    color: #07360F;
    justify-content: center;
    align-items: top;
    display: flex;
    ;
}

.container2 {
    display: flex;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
    justify-content: space-between;
    /* background-color: black; */
}

.numberstyle {
    line-height: 40px;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600px;
    color: #5F9E69;
    ;
}

.subcontainer1 {
    width: 30%;
    height: auto;
    /* background-color: olivedrab; */
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500px;
    color: #042309;
    text-align: center;
    line-height: 60px;
}

.hrs {
    width: 60%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.emailstyle {
    line-height: 40px;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600px;
    color: #5F9E69;
}

.subcontainer2 {

    width: 30%;
    height: auto;
    /* background-color: darkcyan; */
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600px;
    color: #042309;
    text-align: center;
    line-height: 60px;

}

.hrs2 {
    width: 40%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.subcontainer3 {
    width: 30%;
    height: auto;
    /* background-color: red; */
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600px;
    color: #042309;
    text-align: center;
    line-height: 60px;

}

.hrs3 {
    width: 40%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.socialstyle {
    line-height: 40px;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600px;
    color: #5F9E69;

}


.faq{
    display:flex ;
        
}
.FAQ{
    position: absolute;
    width: 30%;
    font-size: 100%;
    margin-top: 100px;
    margin-left: 100px;
    
    font-family:'Poppins';

}
.question{
  margin-left: 60%;
  margin-top:30px;
  font-family: 'poppins',sans-serif;
  margin-right: 8%;
  width: 70%;
}
.paragraph{
margin-bottom: 20px;
width: 95%;
font-size: 15px;
margin-left: 40px;
display: none;
margin-right: 10px;

}
.question-1{
   display:flex;
   font-size: 15px;
   margin-bottom:20px;
   margin-top: 20px;
   margin-left: 40px;
   margin-right: 10px;
   
}
.question hr{
    width: 100%;

}



.question-2{
    font-size: 15px;
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    
}



.btn-1{
    margin-left:100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 40PX;
}
.btn-2{
     margin-left: 85px;
     background-color: transparent;
     border: none;
     cursor: pointer;
     font-size: 40px;

}
